@using EntityLayer.Concrete
@model IEnumerable<LogCall>
@addTagHelper *, AuthoringTagHelpers


@{
    ViewData["Title"] = "Index";

}


@*Scripts*@
@*<br><a href="Logcall/LogsAdd" class="btn btn-primary">YeniÇağrı</a>*@
@*
<table class="table table-bordered" id="logCalls">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateCallTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)

            <th></th>
        </tr>
    </thead>
    <tbody>*@

<a href="#myModal" class="btn btn-lg btn-primary" data-bs-toggle="modal">Yeni Kayıt Ekle</a>

<div class="card mb-4 mt-2">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Gelen Çağrılar
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="LogCall" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th style="display:none">LogCallID</th>
                        <th>
                            WorkerName
                        </th>
                        <th>
                            CallInfo
                        </th>
                        <th>
                            CreateCallTime
                        </th>
                        <th>
                            CustomerName
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none">
                                @Html.DisplayFor(modelItem=>item.LogCallID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Worker!.WorkerName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CallInfo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateCallTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer!.CustomerName)
                            </td>

                            <td>
                                <a href="/Logcall/DeleteLog/@item.LogCallID" id='deleteRecord' class="btn btn-primary">X</a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*-------------------------------------MODALS---------------------------------*@

<div id="modalClick" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div id="clickedItem">
                </div>

                <input id="LogCallID" style="display:none" type="text" />
                <form asp-action="SaveLogs" asp-controller="Logcall" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label name="CallInfo" class="control-label">Çağrı Bilgisi</label>
                        <input id="CallInfo" name="CallInfo" class="form-control" />

                    </div>



                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" id="submitButton" name="submitButton" class="btn btn-primary">Edit</button>

                    </div>
                </form>



            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div id="getJsonCustomer" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Customer Create</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="CustomerAdd" asp-controller="Logcall" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label name="CustomerName" class="control-label">Müşteri Adı</label>
                                <input name="CustomerName" class="form-control" />

                            </div>
                            <div class="form-group">
                                <label name="CustomerAdress" class="control-label">Müşteri Adres </label>
                                <input name="CustomerAdress" class="form-control" />

                            </div>
                            <div class="form-group">
                                <label name="CustomerNumber" class="control-label">Müşteri Numarası</label>
                                <input name="CustomerNumber" class="form-control" />

                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4">
                        <form name="logCall" asp-action="LogsAdd" asp-controller="LogCall" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label id="CallInfo" name="CallInfo" class="control-label">Çağrı Bilgisi</label>
                                <input id="CallInfo" name="CallInfo" class="form-control" />

                            </div>
                            <br />
                            @* <div class="form-group">

                            <input class="form-check-input" name="isJob" type="checkbox" value="true" /> İş mi?
                            <span id="IsJob" class="text-danger"></span>
                            </div>
                            <br />*@
                            <div class="form-group form-check">
                                <label class="form-check-label">  </label>
                                @*   <input class="form-check-input" name="Emergency" /> *@
                                <input class="form-check-input" name="IsJob" type="checkbox" value="true" /> İş mi?

                            </div>
                            <div class="form-group">
                                <select id="WorkerID" name="WorkerID" class="form-control form-control-lg" asp-items="(List<SelectListItem>)ViewBag.work">
                                </select>
                            </div>
                            <br />
                            <div style="display: flex; ">
                                <div class="form-group">
                                    <select id="CustomerID" name="CustomerID" class="form-control form-control-lg" asp-items="(List<SelectListItem>)ViewBag.cr">
                                    </select>


                                </div>
                                <a href="#getJsonCustomer" id="getJsonCustomerBtn" class="btn btn-lg btn-primary" data-bs-toggle="modal">+</a>
                            </div>

                            <label> Müşteriyi bulamadıysanız " + " tuşuna basınız </label>




                            <div class="form-group">
                                <input id="createLog" type="submit" value="createLog" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>

                <div>
                </div>

            </div>
        </div>
    </div>
</div>




<script>



    $(document).ready(function() {

        $("#getJsonCustomerBtn").mousedown(function() {
            $("#myModal").modal("hide");
            $("#getJsonCustomer").modal("show");
        });



        var table = $('#LogCall').DataTable({


            select: {
                style: 'single'
            },

        });

        table.on('click', 'tr', function(e, dt, type, indexes) {
            if ($(this).hasClass('selected')) {
                var selecteData = table.row(this).data();
                let selectDataId = selecteData[0];

                $.ajax({
                    contentType: "application/json",
                    dataType: "json",
                    type: "Get",
                    url: "Logcall/GetLogcallsJson/",
                    data: { id: selectDataId },
                    success: function(func) {
                        var datam = jQuery.parseJSON(func);
                        $("#modalClick").modal("show");
                        $("#LogCallID").val(datam.LogCallID)
                        $("#CallInfo").val(datam.CallInfo);

                        console.log(func)
                    }
                });
                // Duruma göre yazılacak AJAX  isteği örneği


                $(this).removeClass('selected');


            } else {

                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }



        });

        $("#logCallDetail").mousedown("show");
        $("#submitButton").click(function() {

            var newLog = {
                LogCallID: $("#LogCallID").val(),
                CallInfo: $("#CallInfo").val(),

            };
            $.ajax({
                type: "Post",
                url: 'Logcall/SaveLogs/',
                data: newLog,
                success: function(funk) {
                    $("#modalClick").modal("hide");
                }
            });
        }) // Update Doubleclick Logcall

    });




            //$("#createLog").click(function() {
            //    var datam =  {
            //        CallInfo: $("#CallInfo").val(),
            //        CustomerID: $("#CustomerID").val(),
            //        WorkerID: $("#WorkerID").val(),
            //        IsJob: $("#IsJob").val(),

            //    };
            //    $.ajax({
            //        contentType: "application/json",
            //        method: "Post",
            //        type: "json",
            //        url: "Logcall/LogsAdd/",
            //        data: datam,
            //        success: function() {
            //            console.log(data);
            //            $("#myModal").modal("hide");

            //        },
            //        error: function(e) {

            //            console.log(e);
            //        }

            //    });



            //})



</script>