@using EntityLayer.Concrete
@model List<Job>

@addTagHelper *, AuthoringTagHelpers
@{

    ViewData["Title"] = "Index";
    Job data = Model[1];

}



<style>
    #events {
        margin-bottom: 1em;
        padding: 1em;
        background-color: #f6f6f6;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100px;
        overflow: auto;
    }
</style>

@section scripts{
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script src="~/js/Buttons-2.2.3/js/dataTables.buttons.js"></script>
}

    <a href="#myModal" class="btn btn-lg btn-primary" data-bs-toggle="modal">Yeni Çağrı Ekle</a>


    <div class="card mb-4 mt-2">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            İşler
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="Jobs" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="display:none">JobID</th>
                            <th>
                                JobDescription
                            </th>
                            <th>
                                Solution
                            </th>
                            <th>
                                CurrentStatus
                            </th>
                            <th>
                                Emergency
                            </th>
                            <th>
                                CreatedDay
                            </th>
                            <th>
                                UpdatedDay
                            </th>
                            <th>
                                CustomerName
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                    {
                        <tr id="doubleClick">
                            <td style="display:none">
                                @Html.DisplayFor(modelItem=>item.JobID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JobDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Solution)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CurrentStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Emergency)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UpdatedDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LogCall!.Customer!.CustomerName)
                            </td>
                            <td>
                                  <a href="/Job/Delete/@item.JobID"  id='deleteRecord' class="btn btn-primary"  >X</a>
                            </td>
                        </tr>
                    }
                    


                </tbody>
            </table>
        </div>
    </div>
</div>


@*----------------------------------------Modal noktası---------------------------*@


<div id="myModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">


                <form asp-action="JobAdd" asp-controller="Job" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label name="JobDescription" class="control-label">İş Açıklaması</label>
                        <input name="JobDescription" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label name="Solution" class="control-label">Çözüm</label>
                        <input name="Solution" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label name="CurrentStatus" class="control-label">Güncel Durum</label>
                        <input name="CurrentStatus" class="form-control" />

                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            @*   <input class="form-check-input" name="Emergency" /> *@
                            <input class="form-check-input" name="Emergency" type="checkbox" value="true" /> Acil Mi?

                        </label>
                    </div>

                    <div class="form-group">
                        <select name="LogCallID" class="form-control form-control-lg" asp-items="(List<SelectListItem>)ViewBag.cv">
                        </select>



                    </div>
                    <div class="form-group">
                        <button type="submit" id="createJob" value="Create" class="btn btn-primary" >Kayıt Et</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
            
            </div>
        </div>
    </div>
</div> @*Yeni iş oluştur modalı*@



<div id="modalClick" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div id="clickedItem">
                </div>


                <form asp-action="SaveJsonJob" asp-controller="Job" method="post">
                    <input id="JobID" style="display:none" type="text" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label name="JobDescription" class="control-label">İş Açıklaması</label>
                        <input id="JobDescription" name="JobDescription" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label name="Solution" class="control-label">Çözüm</label>
                        <input id="Solution" name="Solution" class="form-control" />

                    </div>
                    <div class="form-group">
                        <label name="CurrentStatus" class="control-label">Güncel Durum</label>
                        <input id="CurrentStatus" name="CurrentStatus" class="form-control" />

                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" name="Emergency" />
                            <input id="Emergency" class="form-check-input" name="Emergency" type="checkbox" value="true" /> Acil Mi?

                        </label>
                    </div>

                    <div class="form-group">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" id="submitButton" name="submitButton" class="btn btn-primary">Edit</button>

                    </div>
                </form>



            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> @*Çift Tıklamayla açılan Modal*@


<script>
    //$("#denemeListeCek").click(function() {
    //    $.ajax({
    //        contentType: "application/json",
    //        dataType: "json",
    //        type: "Get",
    //        url: "Job/GetJsonData",
    //        success: function(func) {

    //        }
    //    })
    //})





    $(document).ready(function() {

        var table = $('#Jobs').DataTable({

            select: {
                style: 'single'
            },





        }); // Datatable Creating






        table.on('click', 'tr', function(e, dt, type, indexes) {
            if ($(this).hasClass('selected')) {
                var selecteData = table.row(this).data();
                let selectDataId = selecteData[0];

                $.ajax({
                    contentType: "application/json",
                    dataType: "json",
                    type: "Get",
                    url: "Job/GetByIDJsonJob/",
                    data: { id: selectDataId },
                    success: function(func) {
                        var datam = jQuery.parseJSON(func);

                        $("#modalClick").modal("show");
                        $("#JobID").val(datam.JobID)
                        $("#JobDescription").val(datam.JobDescription);
                        $("#Solution").val(datam.Solution);
                        $("#CurrentStatus").val(datam.CurrentStatus);
                        $("#Emergency").val(datam.Emergency);




                        console.log($("#JobID").val);
                        console.log(func);
                    }
                })

                $(this).removeClass('selected');


            } else {

                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');

            }



        }); // DoubleClick Modal Opening

        $("#submitButton").click(function() {

            var newJob = {
                JobID: $("#JobID").val(),
                JobDescription: $("#JobDescription").val(),
                Solution: $("#Solution").val(),
                CurrentStatus: $("#CurrentStatus").val(),
            };

            $.ajax({
                type: "Post",
                url: 'Job/SaveJsonJob/',
                data: newJob,
                success: function(funk) {
                    alert("Güncellemeyi senin için yaptım");
                }
            });
        }) // Update Doubleclick Job
        $("#myModal").modal(function selectID() {
            return selecteData[0]

        });


        $("#myBtn").click(function() {
            $("#myModal").modal("show");
        });
    });   // Job DoubleClick Modal - Update Method Script




</script>
<script>


</script>
